body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}

a {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: center;
  font-family: 'Karla', sans-serif, monospace;
}

nav  a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  display: flex;
  align-items: center; 
  margin-right: 20px; 
  padding: 20px;
}

nav li:hover, a:hover, ul:hover {
  color: #F4CE14;
  font-weight: 800;
}

.active {
  background-color: #008000; 
  color: #F4CE14;
  font-weight: 800;
}

.colorGreen {
  color: #008000;
}

section {
  font-family: 'Markazi Text', sans-serif, monospace;
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding: 5% 10%;
}

.heading {
  font-size: 56px;
}

.subheading {
  font-size: 45px;
  color: #008000;
}

.heading, .subheading {
  margin: 0;
  padding: 0;
  display: block; 
  line-height: 1; 
  font-weight: 700;
}

.hero-content img {
  max-width: 350px;
  width: 100%;
  height: 100%;
  object-fit: contain; 
}

.hero-img {
  border-radius: 10% 0 10% 0;
  rotate: 8deg;
}

.hero-description, .img-wrapper {
  width: 50%;
  margin: 30px;
}

.hero-content p {
  margin-top: 20px;
  width: 100%;
  font-weight: 400;
  font-size: 22px;
}

.reserve-table-button, .menu-button {
  width: 100%;
  height: 40px;
  max-width: 180px;
  background-color: #F4CE14;
  font-weight: 900;
  font-family: 'Karla', sans-serif, monospace;
  border-radius: 15px;
  border: none;
  padding: 8px;
}

.reserve-table-button:hover, .menu-button:hover {
  background-color: #008000;
  color: #ffffff;
}

.specials-section {
  padding: 4% 10%;
  background-color: #D9D9D9;
}

.specials-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.customCard {
  font-family: 'Karla', sans-serif, monospace;
  margin: 0;
  text-align: justify;
  font-weight: 600;
}

.dish {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 900;
  color: black;
  padding: 5px 0 5px 0;
}

.delivery-order {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  font-weight: 700;
  justify-content: center;
  padding: 15px;
}

.delivery-order:hover {
  color: #008000;
}

.customCard svg {
  margin-left: 8px;
}

/* testimonials */

.testimonials-section {
  display: flex;
  flex-direction: column;
  padding: 2% 10%;
}

.testimonials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 0 30px 0;
  font-family: 'Karla', Courier, monospace;
}
.section-heading {
  font-weight: 900;
  text-align: center;
}

.section-heading h1{
  color: #F4CE14;
  font-size: 64px;
}

.section-heading h2{
  font-size: 35px;
  color: black;
  font-family: 'Karla', sans-serif, monospace;
  margin-bottom: 25px;
}

.testimony {
  display: flex;
  flex-direction: column;
  background-color: #495E57;
  align-items: center; 
  text-align: center; 
  position: relative;
  padding-top: 50px;
  padding-bottom: 40px;
  border-radius: 15%;
  flex: 1 1 calc(25% - 20px); 
  margin: 10px; 
  max-width: 300px;
}

.testimony img{
  max-width: 70px;
  height: auto;
  border-radius: 50%;
  width: 100%;
  position: absolute;
  top: -30px; 
}

.testimony-details {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  color: white;
}

.testimony-details p {
  align-items: center;
  justify-content: center;
  text-align: justify;
  margin: 10px 20px;
  font-size: 18px;
  margin-top: 10px;
}

/* about */

.about-section {
  padding: 4% 10%;
  background-color: #D9D9D9;
}

.about-section p {
  text-align: right;
}

.about-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.about-content img {
  width: 100%;
  height: auto;
  max-width: 600px;
  margin-right: 25px;
  border-radius: 10% 0px 10% 0;
}

.about-content p {
  text-align: justify;
  font-weight: 400;
  font-size: 1.2rem;
  font-family: 'Karla', sans-serif, monospace;
}

/* footer */

footer {
  background-color: #495E57;
  font-family: 'Karla', sans-serif, monospace;
  color: black;
}

.footer-content {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.wrapper {
  align-items: center;
  padding-top: 20px;
}

.wrapper p {
  margin-top: 10px;
  font-size: 13px;
  font-weight: 500;
  text-align: justify;
}

.wrapper img {
  width: 100%;
  height: auto;
  max-width: 65px;
}

footer h4 {
  font-weight: 700;
  text-align: left;
  color: #ffffff;
}

footer ul, li {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

footer a:hover {
  color: #F4CE14; 
  text-decoration: underline; 
  font-weight: 800;
}

.contacts {
  display: flex; 
  align-items: center; 
  padding: 10px 0 10px 0;
}

.contacts:hover {
  color: #F4CE14; 
  font-weight: 600;
}

.contacts p {
  margin-left: 15px; 
  margin-bottom: 0;
  font-size: 16px; 
}

.contacts svg {
  color: #ffffff;
  font-size: 18px;
}

.socials svg {
  color: #D9D9D9;
  font-size: 35px;
  margin-right: 7px;
}

/* booking form */

.booking-wrapper {
  display: 'flex';
  align-items: center;
}

.booking-wrapper img {
  width: 370px; 
  height: 500px; 
  overflow: hidden; 
  padding: 20px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain; 
}

form {
  font-weight: 700;
  max-width: 500px;
  width: 100%;
}

form h3 {
  color: #008000;
  text-align: center;
}

@media (max-width: 992px) {
  .img-wrapper {
    display: flex;
    justify-content: space-evenly;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
  }
  .hero-content p, .hero-description {
    width: 90%;
  }
  .hero-img {
    width: 80%;
    transform: rotate(-8deg);
    margin-top: 10px;
  }
  .customCard {
    font-size: 0.94rem;
  }
  .testimonials {
    display: flex;
    justify-content: center;
  }
  .testimony {
    flex: 1 1 calc(50% - 10px); 
    margin: 25px;
    margin-bottom: 50px;
  }
  .about-content {
    display: flex;
    flex-direction: column;
  }
  .about-content p {
    font-size: 1rem;
    margin-top: 10px;
    text-align: justify;
  }
  .about-content img {
    margin: 10px 0 10px 0;
    width: 100%;
  }
  .socials svg {
    margin: 0 2px 10px 0px;
    color: #D9D9D9;
    font-size: 30px;
  }
  .booking-wrapper {
    display: flex;
    flex-direction: row;
  }
  .booking-wrapper img {
    width: 300px;
    height: 500px;
    object-fit: contain;
  }
  .bookingConfirmation h1 {
    text-align: center;
    margin-top: 20px;
  }
}

@media (max-width: 900px) {
  header {
    display: block;
  }
  .customCard {
    font-size: 0.8rem;
  }
  footer h4, a {
    text-align: right;
  }
  .contact-us h4 {
    text-align: left;
  }
  .social-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .booking-wrapper {
    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 768px) {
  .hero-description h1 {
    font-size: 2.5rem;
  }
  .hero-description h2 {
    font-size: 2.2rem;
  }
  .hero-content {
    display: flex;
    flex-direction: row ;
  }
  .img-wrapper {
    display: flex;
    flex-direction: column;
  }
  .hero-description p {
    font-size: 1.4rem;
  }
  .customCard {
    font-size: 0.66rem;
  }
  .testimonials {
    display: flex;
    justify-content: center;
  }

  .section-heading h2 {
    font-size: 1.6rem;
  }
  .testimony {
    flex: 1 1 calc(50% - 10px); 
    margin: 5px;
    margin-bottom: 50px;
  }
  .social-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .socials svg {
    margin-right: 0;
  }
  .booking-wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
  .bookingConfirmation h1 {
    text-align: center;
    margin-top: 20px;
  }
}

@media (max-width: 576px) {
  .hero-description h1 {
    font-size: 1.8rem;
  }
  .hero-description h2 {
    font-size: 1.8rem;
  }
  .hero-description p {
    font-size: 1rem;
  }
  .hero-content button {
    width: 80%;
  }
  .hero-content p, .hero-description {
    width: 100%;
  }
  .testimonials {
    display: flex;
    justify-content: center;
  }
  .testimony {
    flex: 1 1 100%; 
    margin-bottom: 40px;
  }
}

